<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/knoldus/IdeaProjects/Login">
        <classes>
            <class name="assignment.MainFunction">
                <methods>
                    <include name="i_am_in_the_login_page_of_Demosite"/>
                    <include name="i_am_in_the_login_page_of_DemoSite_for_firefox"/>
                    <include name="i_am_in_the_login_page_of_demo_site_for_headless"/>
                </methods>
            </class>
            <class name="assignment.practise">
                <methods>
                    <include name="Chrome_browser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>